A configuration sample with mod_dbd, memcached and apache2-mpm-itk

<IfModule vhs_module>
	<VirtualHost 10.0.0.1:80>
		
		# mod_dbd configuration
		DBDriver mysql
		DBDParams "host=localhost port=3306 dbname=mod_vhs user=mod_vhs pass=***secret***"
		DBDPersist on
		DBDMin 1
		DBDKeep 3
		DBDMax 20
		DBDExptime 300
		DBDPrepareSQL "SELECT ServerName, ServerAdmin, DocumentRoot, suexec_uid, suexec_gid, php_env, associateddomainFROM mod_vhs_table WHERE ServerName = %s" mod_vhs
		
		EnableVHS On
		vhs_LogNotFound On
		vhs_Default_Host http://foo.bar
		vhs_Lamer On
		vhs_PHPopen_basedir On
		vhs_open_basedir_path /tmp:/var/tmp
		vhs_append_open_basedir On
		vhs_PHPdisplay_errors On
		vhs_PHPopt_fromdb On
		vhs_DBD_SQL_Label mod_vhs
		vhs_Memcached On
		vhs_MemcachedInstance super-server
		vhs_MemcachedLifeTime 300
		# enable for mpm-itk support
		vhs_itk_enable On

		<IfModule mpm_itk_module>
			AssignUserId apache apache
		</IfModule>

		# use Apache logging
		# if you need separate log files use "split-logfile"  
		CustomLog /var/log/apache2/access.log "%{VH_GECOS}e %h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""

		ErrorLog /var/log/apache2/error.log
	</VirtualHost>
</IfModule>